$darkGrey900: #0a1f44;
$darkGrey800: #182c4f;
$darkGrey700: #273a5b;
$darkGrey600: #364866;
$darkGrey500: #445571;
$darkGrey400: #53627c;
$darkGrey300: #5d6c84;
$darkGrey200: #6c798f;
$darkGrey100: #758196;

$lightGrey900: #8a94a6;
$lightGrey800: #98a1b1;
$lightGrey700: #a6aebc;
$lightGrey600: #b5bbc6;
$lightGrey500: #c9ced6;
$lightGrey400: #e1e4e8;
$lightGrey300: #f1f2f4;
$lightGrey200: #f8f9fb;
$lightGrey100: #fcfcfd;

$black: #000;
$white: #fff;

$green: #53d067;

$darkThemeBg: #1e1e1e;
$darkThemeText: $lightGrey600;

$lightThemeBg: $white;
$lightThemeText: $darkGrey900;
